.mod-lead {
	.threestars {
		width: 106px;
		height: 84px;
		margin: 60px auto 0;
		position: relative;
		img {
			position: absolute;
			top: 0;
		}
		img:nth-child(1) {
			width: 40px;
			left: 0;
		}
		img:nth-child(2) {
			width: 40px;
			right: 0;
		}
		img:nth-child(3) {
			width: 75px;
			top: 20px;
			left: 16px;
		}
	}
}