.mod-offerte {
	background: $lightgrey;
	padding-top: 80px;
  .offerteblok {
    background: #fff;
    padding: 40px;
    margin-top: 40px;
    height: calc(100% - 80px);
  }
  .liftup {
		margin-top: -80px;
		margin-bottom: 40px;
		.align-bottom {
			padding-top: 40px;
		}
  }
  .fotoblok {
	  background-size: cover;
	  background-position: center center;
	  color: #fff;
	  text-align: center;
	  padding: 30px 30px 30px;
		box-shadow: 0 20px 40px 0 rgba(4,57,99,0.50);
	  .h1 {
		  font-weight: bold;
	  }
  }
	.col-lg-4 {
		margin-bottom: -120px;
	}
}

@include media-breakpoint-up(md) {
	.mod-offerte {
		padding-top: 120px;
		.liftup {
			margin-top: -120px;
			margin-bottom: 60px;
	  }
	  .fotoblok {
		  padding: 40px 30px 40px;
	  }
	}
}

@include media-breakpoint-up(lg) {
	.mod-offerte {
		.col-lg-4 {
			margin-bottom: 0;
		}
	  .fotoblok {
		  padding: 60px 20px 20px;
		  
		  .align-bottom {
			  position: absolute;
			  bottom: 30px;
			  left: 30px;
			  right: 30px;
			}
	  }
	}
}