.mod-quote {
  position: relative;
  text-align: center;	
	h2, h3 {
		font-weight: 300;
	}
  h2, h2 p {
    margin: 0 0 10px;
  }
}

@include media-breakpoint-up(sm) {
  .mod-quote {

  }
}

@include media-breakpoint-up(lg) {
  .mod-quote {
    .quote {

    }
  }
}