<section class="mod-contact bg-purple">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        {% if options.form_titel %}
          <h2 class="text-center" data-aos="fade-in" data-aos-duration="800" data-aos-delay="0">{{ options.form_titel }}</h2>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% if options.form_content %}
        	<div class="lead text-center" data-aos="fade-in" data-aos-duration="800" data-aos-delay="0">
          	{{ options.form_content }}
        	</div>
        {% endif %}
      </div>
    </div>
  	{% if options.form_formulier %}
    	<div class="row">
  			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
        	{{ options.form_formulier }}
        	<br>
  			</div>
    	</div>
    {% endif %}
  </div>
</section>