<section class="mod-mailchimp bg-{{ item.achtergrond }}">
	<div class="container">
		<div class="col-md-10 offset-md-1">
			<h2> {{ options.mailchimp_titel }} </h2>
			{{ options.mailchimp_content }}
		</div>
		{{ options.mailchimp_form }}
  </div>
</section>