$green: #29DFB8;
$blue: #00C3FF;
$grey: #828d9e;
$darkgrey: #292C2B;
$orange: #FB9726;
$darkblue: #16315E;
$darkgrey: $darkblue;
$blue: #224889;
$yellow: #FDBA2D;
$softblue: #5C8CDA;
$darkgreen: #074C63;
$highlightblue: #426DB6;
$blue: #214680;
$lightblue: #42B0D4;
$expertiseblue: #1E577A;
$lightgrey: #ededed;
$purple: #593e56;
$yellow: #e7e45a;
$orange: #e94f35;

// Theme colors
$lightgrey: #E6E9EC;
$grey: #7C8A93;
$darkgrey: #343A46;
$darkblue: #000319;
$blue: #007BFB;
$nightblue: #24294B;
$red: #FF0000;